In [139]:
import pandas as pd

In [140]:
df = pd.read_csv('../../data/processed/2012black_medicare_census.csv', index_col=0)
df2 = pd.read_csv('../../data/processed/2013black_medicare_census.csv', index_col=0)
df3 = pd.read_csv('../../data/processed/2014black_medicare_census.csv', index_col=0)
df4 = pd.read_csv('../../data/processed/2015black_medicare_census.csv', index_col=0)
df5 = pd.read_csv('../../data/processed/2016black_medicare_census.csv', index_col=0)
df6 = pd.read_csv('../../data/processed/2017black_medicare_census.csv', index_col=0)
df7 = pd.read_csv('../../data/processed/2018black_medicare_census.csv', index_col=0)

In [141]:
df['year'] = '2012'
df2['year'] = '2013'
df3['year'] = '2014'
df4['year'] = '2015'
df5['year'] = '2016'
df6['year'] = '2017'
df7['year'] = '2018'

In [142]:
all_years_black = pd.concat([df, df2, df3, df4, df5, df6, df7], ignore_index=True)

In [145]:
all_years_black.isnull().sum().sort_values(ascending=False).head(25)

do_date                              74357
pop_divorced                         49967
pop_widowed                          49967
pop_separated                        49967
pop_now_married                      49967
pop_never_married                    49967
pop_15_and_over                      49967
speak_spanish_at_home                37694
speak_spanish_at_home_low_english    37694
speak_only_english_at_home           37694
pop_5_years_over                     37694
amerindian_including_hispanic        12594
commute_35_39_mins                   12594
commute_5_9_mins                     12594
asian_including_hispanic             12594
black_including_hispanic             12594
white_including_hispanic             12594
commute_60_89_mins                   12594
commute_40_44_mins                   12594
households_retirement_income         12594
commute_90_more_mins                 12594
male_60_61                           12594
male_62_64                           12594
occupied_housing_units                   0
dwellings_1_units_attached               0
dtype: int64

In [146]:
all_years_black[all_years_black.pop_divorced.isnull()].year.unique()

array(['2015', '2016', '2017', '2018'], dtype=object)

In [154]:
all_years_black.isnull().sum().sort_values(ascending=False)[:11].index

Index(['do_date', 'pop_divorced', 'pop_widowed', 'pop_separated',
       'pop_now_married', 'pop_never_married', 'pop_15_and_over',
       'speak_spanish_at_home', 'speak_spanish_at_home_low_english',
       'speak_only_english_at_home', 'pop_5_years_over'],
      dtype='object')

#### Since these missing values span multiple years, I will remove these columns altogether

In [155]:
cols = all_years_black.isnull().sum().sort_values(ascending=False)[:11].index
all_years_black.drop(columns = cols, inplace=True)

In [157]:
all_years_black.isnull().sum().sort_values(ascending=False).head(15)

commute_90_more_mins             12594
commute_60_89_mins               12594
white_including_hispanic         12594
black_including_hispanic         12594
amerindian_including_hispanic    12594
asian_including_hispanic         12594
commute_5_9_mins                 12594
commute_35_39_mins               12594
commute_40_44_mins               12594
male_60_61                       12594
male_62_64                       12594
households_retirement_income     12594
occupied_housing_units               0
dwellings_2_units                    0
dwellings_3_to_4_units               0
dtype: int64

In [144]:
all_years_black[all_years_black.male_60_61.isnull()].year.unique()

array(['2018'], dtype=object)

## Only 2018 is missing these gender-age bins. I'll need to either take out ALL gender-age bins or remove 2018 data from this study.

Removing 2018 data, I can revisit this decision if I find out that gender-age bins have little use for modeling or statistical analysis.

In [160]:
all_years_black = all_years_black[all_years_black.year != '2018']

In [161]:
all_years_black.to_csv('../../data/processed/all_years_black_medicare.csv')

# Merging all_medicare DFs from 2012-2018

In [162]:
df = pd.read_csv('../../data/processed/2012all_races_medicare_census.csv', index_col=0)
df2 = pd.read_csv('../../data/processed/2013all_races_medicare_census.csv', index_col=0)
df3 = pd.read_csv('../../data/processed/2014all_races_medicare_census.csv', index_col=0)
df4 = pd.read_csv('../../data/processed/2015all_races_medicare_census.csv', index_col=0)
df5 = pd.read_csv('../../data/processed/2016all_races_medicare_census.csv', index_col=0)
df6 = pd.read_csv('../../data/processed/2017all_races_medicare_census.csv', index_col=0)
df7 = pd.read_csv('../../data/processed/2018all_races_medicare_census.csv', index_col=0)

In [163]:
df['year'] = '2012'
df2['year'] = '2013'
df3['year'] = '2014'
df4['year'] = '2015'
df5['year'] = '2016'
df6['year'] = '2017'
df7['year'] = '2018'

In [164]:
all_years_all_races = pd.concat([df, df2, df3, df4, df5, df6, df7], ignore_index=True)

In [166]:
all_years_all_races.isnull().sum().sort_values(ascending=False).head(25)

do_date                              32600
pop_divorced                         21614
pop_widowed                          21614
pop_separated                        21614
pop_now_married                      21614
pop_never_married                    21614
pop_15_and_over                      21614
speak_spanish_at_home_low_english    16215
speak_spanish_at_home                16215
speak_only_english_at_home           16215
pop_5_years_over                     16215
commute_5_9_mins                      5308
commute_35_39_mins                    5308
amerindian_including_hispanic         5308
asian_including_hispanic              5308
commute_60_89_mins                    5308
commute_40_44_mins                    5308
male_62_64                            5308
commute_90_more_mins                  5308
households_retirement_income          5308
male_60_61                            5308
white_including_hispanic              5308
black_including_hispanic              5308
married_households                       0
income_200000_or_more                    0
dtype: int64

In [167]:
all_years_all_races[all_years_all_races.pop_5_years_over.isnull()].year.unique()

array(['2016', '2017', '2018'], dtype=object)

In [168]:
all_years_all_races[all_years_all_races.pop_15_and_over.isnull()].year.unique()

array(['2015', '2016', '2017', '2018'], dtype=object)

In [171]:
all_years_all_races.isnull().sum().sort_values(ascending=False)[:11].index

Index(['do_date', 'pop_divorced', 'pop_widowed', 'pop_separated',
       'pop_now_married', 'pop_never_married', 'pop_15_and_over',
       'speak_spanish_at_home_low_english', 'speak_spanish_at_home',
       'speak_only_english_at_home', 'pop_5_years_over'],
      dtype='object')

In [172]:
cols = all_years_all_races.isnull().sum().sort_values(ascending=False)[:11].index
all_years_all_races.drop(columns = cols, inplace=True)

In [173]:
all_years_all_races.isnull().sum().sort_values(ascending=False).head(15)

commute_40_44_mins               5308
commute_60_89_mins               5308
white_including_hispanic         5308
black_including_hispanic         5308
amerindian_including_hispanic    5308
asian_including_hispanic         5308
commute_35_39_mins               5308
commute_5_9_mins                 5308
commute_90_more_mins             5308
households_retirement_income     5308
male_60_61                       5308
male_62_64                       5308
dwellings_1_units_detached          0
income_125000_149999                0
dwellings_1_units_attached          0
dtype: int64

In [174]:
all_years_all_races[all_years_all_races.commute_40_44_mins.isnull()].year.unique()

array(['2018'], dtype=object)

Removing 2018 data, I can revisit this decision if I find out that gender-age bins have little use for modeling or statistical analysis.

In [176]:
all_years_all_races = all_years_all_races[all_years_all_races.year != '2018']

In [177]:
all_years_all_races.to_csv('../../data/processed/all_years_all_medicare.csv')

# Agg by Zip Code

,npi_2012,city_2012,full_zip_2012,state_2012,country_2012,provider_type_2012,total_beneficiaries_2012,total_medicare_payment_2012,avg_beneficiary_age_2012,num_white_2012,...,speak_only_english_at_home_2013,speak_spanish_at_home_2013,speak_spanish_at_home_low_english_2013,pop_15_and_over_2013,pop_never_married_2013,pop_now_married_2013,pop_separated_2013,pop_widowed_2013,pop_divorced_2013,year_2013
0,1003011487,BELFAST,49156006,ME,US,Licensed Clinical Social Worker,17,13268.66,58,17.0,...,7625,98,57,6926,1822,3298,38,694,1026,2013
1,1003011487,BELFAST,49156006,ME,US,Licensed Clinical Social Worker,17,13268.66,58,17.0,...,7625,98,57,6926,1822,3298,38,694,1026,2013
2,1003011487,BELFAST,49156006,ME,US,Licensed Clinical Social Worker,17,13268.66,58,17.0,...,7625,98,57,6926,1822,3298,38,694,1026,2013
3,1013244011,BELFAST,49156029,ME,US,Licensed Clinical Social Worker,12,2336.58,48,12.0,...,7625,98,57,6926,1822,3298,38,694,1026,2013
4,1013244011,BELFAST,49156029,ME,US,Licensed Clinical Social Worker,12,2336.58,48,12.0,...,7625,98,57,6926,1822,3298,38,694,1026,2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9707,1982612263,KISSIMMEE,347412344,FL,US,Psychiatry,70,5350.12,46,24.0,...,14515,21679,9658,33366,11928,13186,1665,1126,3310,2013
9708,1982724357,LITTLETON,35610000,NH,US,Psychiatry,21,12236.96,62,21.0,...,5196,115,71,4914,1309,2411,0,275,812,2013
9709,1982724357,LITTLETON,35610000,NH,US,Psychiatry,21,12236.96,62,21.0,...,5196,115,71,4914,1309,2411,0,275,812,2013
9710,1982724357,LITTLETON,35610000,NH,US,Psychiatry,21,12236.96,62,21.0,...,5196,115,71,4914,1309,2411,0,275,812,2013
9711,1992740252,TAMPA,336134706,FL,US,Psychiatry,37,8372.28,50,37.0,...,20521,6149,2820,26196,12990,7792,722,1520,2458,2013