# Importing Modules and Checking Directory

In [40]:
import os
import pandas as pd
import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [41]:
pd.__version__

'1.1.5'

In [42]:
os.getcwd()

'/Users/Livi/Projects/Black_mental_health/notebooks/Data_wrangling'

# Uploading Data

In [43]:
census = pd.read_csv('../../data/raw/2012census.csv')

In [44]:
census.head()

,geo_id,nonfamily_households,family_households,median_year_structure_built,rent_burden_not_computed,rent_over_50_percent,rent_40_to_50_percent,rent_35_to_40_percent,rent_30_to_35_percent,rent_25_to_30_percent,...,speak_only_english_at_home,speak_spanish_at_home,speak_spanish_at_home_low_english,pop_15_and_over,pop_never_married,pop_now_married,pop_separated,pop_widowed,pop_divorced,do_date
0,91046,116,13,1987.0,0,117,0,12,0,0,...,11,0,0,141,11,25,0,0,0,20082012
1,20317,232,0,1949.0,0,139,40,24,0,14,...,348,0,0,348,55,84,14,87,79,20082012
2,95915,31,17,1939.0,0,17,20,0,0,0,...,59,0,0,48,17,0,0,0,31,20082012
3,14881,100,0,1986.0,0,0,68,0,0,16,...,100,0,0,100,17,0,0,83,0,20082012
4,71345,52,26,1970.0,0,78,0,0,0,0,...,113,0,0,113,28,1,28,56,0,20082012

checkpoint2

In [45]:
checkpoint2 = census.copy()

In [46]:
list(census.columns[census.columns.str.contains('pop')])

['total_pop',
 'male_pop',
 'female_pop',
 'white_pop',
 'black_pop',
 'asian_pop',
 'hispanic_pop',
 'amerindian_pop',
 'other_race_pop',
 'two_or_more_races_pop',
 'not_hispanic_pop',
 'employed_pop',
 'unemployed_pop',
 'pop_16_over',
 'pop_in_labor_force',
 'not_us_citizen_pop',
 'pop_25_64',
 'pop_determined_poverty_status',
 'population_1_year_and_over',
 'population_3_years_over',
 'pop_25_years_over',
 'pop_5_years_over',
 'pop_15_and_over',
 'pop_never_married',
 'pop_now_married',
 'pop_separated',
 'pop_widowed',
 'pop_divorced']

In [47]:
list(census.columns[census.columns.str.contains('rent|income', regex=True)])  'median_income', 'income_per_capita',
 'median_rent',

['rent_burden_not_computed',
 'rent_over_50_percent',
 'rent_40_to_50_percent',
 'rent_35_to_40_percent',
 'rent_30_to_35_percent',
 'rent_25_to_30_percent',
 'rent_20_to_25_percent',
 'rent_15_to_20_percent',
 'rent_10_to_15_percent',
 'rent_under_10_percent',
 'median_income',
 'income_per_capita',
 'vacant_housing_units_for_rent',
 'median_rent',
 'percent_income_spent_on_rent',
 'two_parent_families_with_young_children',
 'two_parents_in_labor_force_families_with_young_children',
 'two_parents_father_in_labor_force_families_with_young_children',
 'two_parents_mother_in_labor_force_families_with_young_children',
 'two_parents_not_in_labor_force_families_with_young_children',
 'one_parent_families_with_young_children',
 'father_one_parent_families_with_young_children',
 'father_in_labor_force_one_parent_families_with_young_children',
 'income_less_10000',
 'income_10000_14999',
 'income_15000_19999',
 'income_20000_24999',
 'income_25000_29999',
 'income_30000_34999',
 'income_35000_39999',
 'income_40000_44999',
 'income_45000_49999',
 'income_50000_59999',
 'income_60000_74999',
 'income_75000_99999',
 'income_100000_124999',
 'income_125000_149999',
 'income_150000_199999',
 'income_200000_or_more',
 'renter_occupied_housing_units_paying_cash_median_gross_rent',
 'housing_units_renter_occupied',
 'households_retirement_income',
 'different_house_year_ago_different_city',
 'different_house_year_ago_same_city']

How many zips are missing aggregate information on income or rent that could help determine the cost of living per zip?

In [56]:
cols = ['median_income', 'income_per_capita',
 'median_rent',]
census[cols].isnull().sum()

median_income         869
income_per_capita     572
median_rent          4482
dtype: int64

In [57]:
cols =['geo_id','total_pop',
 'white_pop',
 'black_pop',
 'asian_pop',
 'hispanic_pop',
 'amerindian_pop',
 'other_race_pop',
 'two_or_more_races_pop','do_date']

In [58]:
census = census[cols]

In [59]:
info = pd.DataFrame(index=census.columns.values,
                    data={'data type': census.dtypes, \
                          'non-null values': census.notnull().sum(),
                          'unique values': census.nunique(), \
                          'null values': census.isnull().sum()})
info.sort_values('non-null values').head(30)

                      data type  non-null values  unique values  null values
geo_id                    int64            33120          33120            0
total_pop                 int64            33120          15387            0
white_pop                 int64            33120          13207            0
black_pop                 int64            33120           5220            0
asian_pop                 int64            33120           3243            0
hispanic_pop              int64            33120           5743            0
amerindian_pop            int64            33120           1045            0
other_race_pop            int64            33120            496            0
two_or_more_races_pop     int64            33120           1789            0
do_date                   int64            33120              1            0

# Checking Data Types

All columns in Census besides Geo_id should be 'int' or 'float.' I want to see what is listed as object.

In [60]:
census.select_dtypes('object').head(1)

Empty DataFrame
Columns: []
Index: [0]

There's a column called do_date that includes the years used to make the estimate Census measures. I'm going to keep that last four digits which represent the year being estimated.

In [61]:
census.do_date = census.do_date.apply(lambda x: str(x)[-4:])
census.do_date = pd.to_datetime(census.do_date, format='%Y')
census.do_date

/Users/Livi/opt/anaconda3/envs/springboard/lib/python3.7/site-packages/pandas/core/generic.py:5170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

0       2012-01-01
1       2012-01-01
2       2012-01-01
3       2012-01-01
4       2012-01-01
           ...
33115   2012-01-01
33116   2012-01-01
33117   2012-01-01
33118   2012-01-01
33119   2012-01-01
Name: do_date, Length: 33120, dtype: datetime64[ns]

In [63]:
census.to_csv('../../data/processed/2012pops.csv')