# Importing Modules and Checking Directory

In [1]:
import os
import pandas as pd
import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [2]:
pd.__version__

'1.1.5'

In [3]:
os.getcwd()

'/Users/Livi/Projects/Black_mental_health/notebooks/Data_wrangling'

# Uploading Data

In [20]:
census = pd.read_csv('../../data/raw/2018acs.csv')

In [21]:
census.head()

,geo_id,do_date,total_pop,households,male_pop,female_pop,median_age,male_under_5,male_5_to_9,male_10_to_14,...,management_business_sci_arts_employed,sales_office_employed,in_grades_1_to_4,in_grades_5_to_8,in_grades_9_to_12,in_school,in_undergrad_college,speak_only_english_at_home,speak_spanish_at_home,speak_spanish_at_home_low_english
0,87537,2014-01-01,2510,856,1283,1227,42.1,58,75,87,...,NaN,NaN,304,171,80,593,20,NaN,NaN,NaN
1,87017,2014-01-01,346,112,150,196,50.9,0,0,12,...,NaN,NaN,0,27,15,96,40,NaN,NaN,NaN
2,87528,2014-01-01,3505,727,1758,1747,27.9,260,194,159,...,NaN,NaN,293,266,298,1237,138,NaN,NaN,NaN
3,87533,2014-01-01,133,58,49,84,25.8,0,12,8,...,NaN,NaN,24,8,7,58,3,NaN,NaN,NaN
4,87511,2014-01-01,2896,787,1177,1719,36.0,142,63,44,...,NaN,NaN,263,107,163,1008,279,NaN,NaN,NaN

checkpoint2

In [22]:
checkpoint2 = census.copy()

In [23]:
list(census.columns[census.columns.str.contains('pop')])

['total_pop',
 'male_pop',
 'female_pop',
 'white_pop',
 'population_1_year_and_over',
 'population_3_years_over',
 'pop_5_years_over',
 'pop_15_and_over',
 'pop_16_over',
 'pop_25_years_over',
 'pop_25_64',
 'pop_never_married',
 'pop_now_married',
 'pop_separated',
 'pop_widowed',
 'pop_divorced',
 'not_us_citizen_pop',
 'black_pop',
 'asian_pop',
 'hispanic_pop',
 'amerindian_pop',
 'other_race_pop',
 'two_or_more_races_pop',
 'not_hispanic_pop',
 'pop_determined_poverty_status',
 'employed_pop',
 'unemployed_pop',
 'pop_in_labor_force']

In [24]:
list(census.columns[census.columns.str.contains('rent|income', regex=True)])

['median_income',
 'income_per_capita',
 'income_less_10000',
 'income_10000_14999',
 'income_15000_19999',
 'income_20000_24999',
 'income_25000_29999',
 'income_30000_34999',
 'income_35000_39999',
 'income_40000_44999',
 'income_45000_49999',
 'income_50000_59999',
 'income_60000_74999',
 'income_75000_99999',
 'income_100000_124999',
 'income_125000_149999',
 'income_150000_199999',
 'income_200000_or_more',
 'renter_occupied_housing_units_paying_cash_median_gross_rent',
 'housing_units_renter_occupied',
 'vacant_housing_units_for_rent',
 'median_rent',
 'percent_income_spent_on_rent',
 'rent_burden_not_computed',
 'rent_over_50_percent',
 'rent_40_to_50_percent',
 'rent_35_to_40_percent',
 'rent_30_to_35_percent',
 'rent_25_to_30_percent',
 'rent_20_to_25_percent',
 'rent_15_to_20_percent',
 'rent_10_to_15_percent',
 'rent_under_10_percent',
 'different_house_year_ago_different_city',
 'different_house_year_ago_same_city',
 'two_parent_families_with_young_children',
 'two_parents_in_labor_force_families_with_young_children',
 'two_parents_father_in_labor_force_families_with_young_children',
 'two_parents_mother_in_labor_force_families_with_young_children',
 'two_parents_not_in_labor_force_families_with_young_children',
 'one_parent_families_with_young_children',
 'father_one_parent_families_with_young_children',
 'father_in_labor_force_one_parent_families_with_young_children']

How many zips are missing aggregate information on income or rent that could help determine the cost of living per zip?

In [25]:
cols = ['median_income', 'income_per_capita',
 'median_rent',]
census[cols].isnull().sum()

median_income        2229
income_per_capita     664
median_rent          6159
dtype: int64

In [26]:
cols =['geo_id','total_pop',
 'white_pop',
 'black_pop',
 'asian_pop',
 'hispanic_pop',
 'amerindian_pop',
 'other_race_pop',
 'two_or_more_races_pop','do_date']

In [27]:
census = census[cols]

In [28]:
info = pd.DataFrame(index=census.columns.values,
                    data={'data type': census.dtypes, \
                          'non-null values': census.notnull().sum(),
                          'unique values': census.nunique(), \
                          'null values': census.isnull().sum()})
info.sort_values('non-null values').head(30)

                      data type  non-null values  unique values  null values
geo_id                    int64            33120          33120            0
total_pop                 int64            33120          15532            0
white_pop                 int64            33120          13177            0
black_pop                 int64            33120           5350            0
asian_pop                 int64            33120           3509            0
hispanic_pop              int64            33120           6162            0
amerindian_pop            int64            33120           1074            0
other_race_pop            int64            33120            550            0
two_or_more_races_pop     int64            33120           2088            0
do_date                  object            33120              1            0

# Checking Data Types

All columns in Census besides Geo_id should be 'int' or 'float.' I want to see what is listed as object.

In [32]:
census.select_dtypes('object').head(1)

  do_date
0    2018

In [31]:
census.do_date = '2018'

There's a column called do_date that includes the years used to make the estimate Census measures. I'm going to keep that last four digits which represent the year being estimated.

In [33]:
census.do_date = pd.to_datetime(census.do_date, format='%Y')
census.do_date

0       2018-01-01
1       2018-01-01
2       2018-01-01
3       2018-01-01
4       2018-01-01
           ...
33115   2018-01-01
33116   2018-01-01
33117   2018-01-01
33118   2018-01-01
33119   2018-01-01
Name: do_date, Length: 33120, dtype: datetime64[ns]

In [34]:
census.to_csv('../../data/processed/2018pops.csv')